/* This property is for arranging the colunms in row one */

.rabbit {
  display: flex;
  column-gap: 10px;
  column-count: 3;
  column-span: all;
}

/* This property is for the paragraphs in the first columsn  */
.carrot {
  border: 3px solid;
}

/* This property is for the the first video */
.police {
  display: flex;
  margin: auto;
  padding-top: 2em;
}

/* This is for the second row, includes video and qoute*/

.quote {
  color: red;
  /* margin: auto; */
  width: 50%;
  border: 3px solid;
  /* padding: 10px; */
  float: center;
}

/* This property is for the background of the site */
.movie {
  background-color: Gray;
}

/* This property is not being used right now, but it was for the second video */
/* .fox {
  margin: left;
} */

/* This property is not being used right now. There is no Judy class in the html file.  */
/* .Judy {
  margin: auto;
  width: 50%;
  padding: 10px;
  float: right;
} */

/* This is an attempt to make the word zootopia in my qoute be bold */
/* .zoo {
  text-decoration-style: bold;
} */
