#quote {
  color: red;
  margin: auto;
  width: 50%;
  border: 3px solid;
  padding: 10px;
  float: center;
}

.rabbit {
  color: red;
  margin: auto;
  width: 50%;
  border: 3px solid;
  padding: 10px;
  float: center;
}

.zoo {
  text-decoration: bold;
}

.movie {
  background-color: Gray;
}
