/* This property is for arranging the colunms in row one */

.rabbit {
  padding: 10px;
  column-count: 2;
  text-orientation: 3px solid;
}

/* This property is for the image of the main character Judy Hopps  */
.Judy {
  width: 50%;
  padding: 10px;
  float: left;
}

/* This property is for the paragraphs in the second column  */
.carrot {
  border: 3px solid;
  padding-left: 2em;
  padding-right: 2em;
}

/* This property is for the the music video for the movie */
.police {
  display: flex;
  margin: auto;
  padding-top: 2em;
}

/* This is for the second row, styling for the qoute only */

.quote {
  color: red;
  width: 30%;
  border: 3px solid;
  padding: 2em;
  margin: auto;
  float: center;
}

/* This property is for the background of the site */
.movie {
  background-color: Gray;
}

/* This property is not being used right now, but it was for the second video */
/* .fox {
  margin: left;
} */

/* This is for the title picture */
.zoo {
  width: 40%;
  padding: 5em;
}
